nav {
  display: flex;
  justify-content: end;
  border-bottom: 2px solid darkgray;
  padding: 1rem;
  margin-bottom: 2rem;
}

.home {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
